[submodule "trossen_arm_description"]
	path = static/trossen_arm_description
	url = https://github.com/TrossenRobotics/trossen_arm_description.git
[submodule "external/any6d"]
	path = external/any6d
	url = git@github.com:demoPlz/any6d.git
	branch = main
[submodule "external/nvdiffrast"]
	path = external/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast.git
[submodule "external/pytorch3d"]
	path = external/pytorch3d
	url = https://github.com/facebookresearch/pytorch3d.git
[submodule "external/lerobot_trossen"]
	path = external/lerobot_trossen
	url = git@github.com:demoPlz/lerobot_trossen.git
