# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/

# IDE files
# .vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Calibration files
data/calib/cam*
data/calib/*.png
data/calib/*

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Local Netlify folder
.netlify

# Large files
**/videos/
**/snapshots
output/

# Weights and assets of external libraries
external/**/*.yml
external/**/*.pth
external/**/*.obj