[build]
  publish = "dist"
  command = "npm run build && echo '/api/*  /.netlify/functions/api/:splat  200' > dist/_redirects"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[dev]
  command = "npm run dev"
  port = 5173
  targetPort = 5173
  publish = "dist"
